<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LaESapERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>


    <!--<add name="LaESapERPConnection" connectionString="Data Source=SRV960;Initial Catalog=ERPLaESap;Persist Security Info=True;User ID=sa;Password=tE$i881#Pi"
  providerName="System.Data.SqlClient"/>-->


    <add name="LaESapERPConnection" connectionString="Data Source=DESKTOP-4JE52E7\SQLEXPRESS;Initial Catalog=ERPLaESap;Integrated Security=true"
      providerName="System.Data.SqlClient"/>
    
    
    
    
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <LaESapERP.Properties.Settings>
      <setting name="ERP_PROYECTO_NOMBRE" serializeAs="String">
        <value>LaESaP Gto ERP</value>
      </setting>
      <setting name="ERP_PROYECTO_ConnectionStringTemporal" serializeAs="String">
        <value />
      </setting>
      <setting name="ERP_PROYECTO_ConnectionStringDB1" serializeAs="String">
        <value>Data Source=DESKTOP-4JE52E7\SQLEXPRESS;Initial Catalog=ERPLaESap;Integrated Security=true</value>
      </setting>
      <setting name="ERP_PROYECTO_strConex_WINLAB_EP" serializeAs="String">
        <value />
      </setting>
      <setting name="ERP_PROYECTO_PRODUCTION" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ERP_PROYECTO_FONT_MAIN" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="ERP_LAB_NOMBRE" serializeAs="String">
        <value>LABORATORIO ESTATAL DE SALUD PÚBLICA DEL ESTADO DE GUANAJUATO</value>
      </setting>
      <setting name="ERP_LAB_DIRECCION_FULL" serializeAs="String">
        <value>Beta Nº 208 Fracc. Industrial Delta Carr. León - Silao KM 7 León, Gto.</value>
      </setting>
      <setting name="ERP_LAB_TELEFONOS" serializeAs="String">
        <value>Tel. 01(477) 761-04-09, 761-04-11</value>
      </setting>
      <setting name="ERP_LAB_FAX" serializeAs="String">
        <value>Fax: 01(477) 761-04-08</value>
      </setting>
      <setting name="ERP_LAB_EMAIL" serializeAs="String">
        <value>E-mail: laesap@prodigy.net.mx</value>
      </setting>
      <setting name="ERP_LAB_WWW" serializeAs="String">
        <value>www.guanajuato.gob.mx</value>
      </setting>
    </LaESapERP.Properties.Settings>
  </userSettings>
</configuration>